@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}