* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Mont";
}

p,
h3 {
  line-height: 152%;
}

h3 {
  font-size: 1.125rem;
  color: #0a1765;
}

header {
  background-image: url("../img/background_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 51vh;
  width: 100vw;
  margin-bottom: 30px;
}

header nav ul {
  color: white;
  list-style-type: none;
  margin-right: 7vw;
  margin-left: 7vw;
  padding: 0;
  overflow: hidden;
}

header nav ul li {
  margin-top: 30px;
  float: right;
  display: block;
  color: white;
  text-align: center;
  transition: 0.3s;
  padding: 0px 15px;
  text-decoration: none;
}

header nav ul li.connexion {
  margin-top: 41px;
  margin-right: 3vw;
  color: #0a1765;
}

header nav ul li.connexion:hover {
  font-weight: 600;
  color: #0a1765;
}


header nav ul li:hover {
  cursor: pointer;
  color: #EE7256;
}

header nav ul li.logo {
  float: left;
}

header nav ul li.button {
  margin-top: 2%;
}

.big__title {
  color: #0a1765;
  text-align: left;
  margin: 9% auto;
  width: 690px;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.25rem;
}


nav.categorie {
  background-color: #F5F8FB;
}

nav.categorie ul {
  width: 80vw;
  list-style-type: none;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 0;
  overflow: hidden;
}

nav.categorie ul li {
  width: 19%;
  margin-top: 1%;
  color: #738094;
  display: inline-block;
  text-align: center;
  height: 40px;
  padding: 0px 15px;
  transition: 0.3s;
  text-decoration: none;
}

nav.categorie ul li.button {
  color: white;
  line-height: 2.5rem;
}

nav.categorie ul li:hover {
  cursor: pointer;
  color: #EE7256;
}

nav.categorie ul li:hover.button {
  background-color: #F5F8FB;
}

main {
  margin-top: 5%;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

main h2 {
  color: #EE7256;
  font-size: 1.375rem;
}

main article {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 56vw;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  display: flex;
}

main article div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

main article div:nth-child(2) .part h3 {
  font-size : 18px;
  font-weight: 600;
  width: 60%;
  margin-left: 7%;
  margin-right: auto;
  margin-top: 7%;
}

main article div:nth-child(2) .part.avis {
  height: 40px;
  margin-top: 10%;
  flex-direction: row;
}

main article div:nth-child(2) .part.avis .buttonlike {
  margin-left: 7%;
  width: 40px;
  height: 40px;
  background-color: #F5F8FB;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main article div:nth-child(2) .part.avis .buttonlike:hover {
  border: 3px solid #0a1765;
}

main article div:nth-child(2) .part.avis .buttonlike img {
  display: block;
  margin: auto;
  margin-top: 20%;
  width: 18px;
  height: 18px;
}

main article div:nth-child(2) .part.avis p {
  color: #738094;
  line-height: 2.5rem;
  flex-grow: 1;
  margin-left: 7%;
  font-weight: 600;
}

main article div:nth-child(2) .part.avis p :hover{
  color: #0a1765;
  font-weight: 600;
}

main article div:nth-child(2) .part .button {
  width: 127px;
  height: 41px;
  margin-left: 7%;
  margin-top: 10%;
  width: 127px;
}

.button {
  background-color: #EE7256;
  border-radius: 4px;
  height: 40px;
  transition: 0.3s;
  color:white;
  font-weight: 600;
}

.button:hover {
  background-color: #0a1765;
  cursor: pointer;
}

.button p {
  font-weight: 600;
  text-align: center;
  line-height: 2.5rem;
  color: white;
}

 .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
}

.input {
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px #e3e5e9;
  border: 1px solid #fff;
  padding: 1.6rem;
  cursor: pointer;
}

 .comments{
   margin:0 110px;
 }

 .comment{
  margin-top: 30px;
 }

 .comment__author {
   font-weight: 600;
   color: #0a1765;
 }

 .comment__description {
    font-weight: 500;
    color: #738094;
 }

.comment {
  display: flex;
}

.comment__avatar{
  float: left;
  flex: none;
  margin: 0 1.6rem 0 0;
}

.comment__text {
  flex: auto;
}

.comment__author {
  margin: 0 0.8rem 12px 0;
  line-height: 1;
}

.comment__description {
  font-weight: 500;
}

input {
  margin: 0px 0px 25.5938px;
  width: 865px;
  height: 158px;
}

.commentform {
  display: grid;
  grid-template-columns: min-content min-content auto;
  margin-top: 30px;
  padding-bottom: 60px; 
}
.commentform__avatar {
  margin: 0 1.6rem 0 0;
  grid-column-start: 1;
  grid-row-start: 2;
}
.commentform__field {
  grid-column: 0.5;
  grid-row-start: 2;
  margin: 0 0 1.6rem 0;
}
.commentform__button {
  grid-column-start: 2;
  grid-row-start: 3;
  height: 41px;
  font-size: 16px;
}

footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  height: 382px;
  padding-top: 15%;
}

footer nav ul {
  width: 70vw;
  list-style-type: none;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 0;
  height: 40px;
}

footer nav ul li {
  width: 33%;
  font-weight: 600;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  transition: 0.3s;
  text-decoration: none;
}

footer nav ul.socialnetwork {
  margin-top: 30px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

footer nav ul.socialnetwork li {
  margin: auto;
  width: 80px;
}

footer nav ul li {
  width: 33%;
  font-family: "Mont";
  font-weight: 600;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  transition: 0.3s;
  text-decoration: none;
}

footer nav ul li:hover{
  cursor: pointer;
}


/* ----------------------------- pop up ------------------------------- */

.pop-up {
  position: relative;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.99);
  padding: 30px;
  width: 550px;
  height: 530px;
  position: fixed;
  margin: auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #EE7256;
}

.pop-up.s2{
  height: 430px;
}

.visible {
  visibility: visible;
}

.close-icon {
  content: url("../img/close.svg");
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor:pointer;
}

.big__title2{
  height: 32px;
  font-size: 2rem;
  text-align: center;
  font-family: "Mont";
  font-weight: 700;
  color: #0a1765;
  padding-left: 30px;
}

.pop-up p{
  margin-top:20px; 
  width: 400px;
  margin-left:40px;
  text-align: center;
  line-height: 24px;
  color: #EE7256;
}

.pop-up form{
  margin-left: 9%;
  margin-top: 20px; 
}
.pop-up form input{
  width: 400px;
  height: 60px;
  margin-bottom: 35px;
  border: none;
  background-color: #F5F8FB;
  border-radius: 8px;
  transition: 0.3s;
  padding-left: 15px;
}
.pop-up form input[type=submit]{
  margin-left: 20%;
  width: 200px;
  background-color: #EE7256;
  color: #F5F8FB;
  font-size: 16px;
  font-weight: 600;
}

.pop-up form input[type=submit]:hover{
  cursor: pointer;
  background-color: #0a1765;
}

::placeholder{
  font-size: 15px;
  margin-left: 10px;
}

